{
    "extends": [
        "plugin:prettier/recommended",
        "plugin:react/recommended",
        "plugin:jsx-a11y/recommended",
        "plugin:jest/all"
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": ["react", "jsx-a11y", "react-hooks"],
    "settings": {
        "react": {
            "version": "detect"
        },
        "import/resolver": {
            "typescript": {}
        }
    },
    "rules": {
        "eqeqeq": ["error", "always", { "null": "never" }],
        "radix": "off",
        "no-shadow": "off",
        "no-else-return": "off",
        "no-plusplus": "off",
        "no-useless-constructor": "off",
        "react/prop-types": "off",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "error",
        "react/jsx-indent-props": "off",
        "react/jsx-indent": "off",
        "react/jsx-props-no-spreading": "off",
        "jsx-a11y/accessible-emoji": "off",
        "no-debugger": "warn",
        "no-console": "warn"
    },
    "env": {
        "browser": true,
    }
}
